/target
/.m2


/.classpath
/.project
/.settings

/caches
/local.properties
.*.swp
.DS_Store
/src/main/liberty/config/server.env

src/main/liberty/config/server.env
src/main/resources/localdev-config.json

[._]*.sw[a-p]
terraform.tfvars
terraform.tfstate.lock.info
*.tfstate
*.tfstate.backup
.terraform*
resources.sh
*.tfvars
*.plan